body {

    color: #f7f7f7;
}

.jumbotron {
    /* background-image: url("C:/Users/Administrator/Desktop/Analysis_Projects/UFOs/images/nasa.jpg"); */
    background-image: url("../images/nasa.jpg");
    background-size: 100% 100%;
    text-align: center;
  }
